{% extends "pizzas/base.html" %} 

{% block content %}
{% load static %} 
<link rel="stylesheet" href="{% static 'pizza.css' %}">
<body><center>
<p>
    Welcome to the Pizzeria Web Application.
</p>
    
<p>
    Here you can view different pizzas, thier images,
    and make comments on them.
</p>

<p>
    I hope you enjoy my application. 
</p>
<br>
<p>
    The best Pizza joke of all time:
</p>
 <p>   
    Why was the Pizzeria desperate for business?
</p>
<p> 
    Because they kneaded the dough!
</p>
</center></body>
{% endblock content %} 